html {
    background: #018DED url(https://images.unsplash.com/photo-1605026187659-a83756e22e43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    flex-flow: column;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}
.clock-num{
    width: 30rem;
    margin-top: 3rem;
    

}

.clock-number{
    display: flex;
    place-content: center;
    color: whitesmoke;
    font-size: xxx-large;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.clock-center{
    width: 0.5px;
    height: 0.5px;
    margin-left: 47%;
    margin-top: 47%;
    border: 12px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    padding: rem;
   
}


.min-hand {
    margin-left: 5%; /*길이감 표현*/
    width: 45%;
    height: 4px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
}


.hour-hand {
    
    margin-left: 15%;/*길이감 표현*/
    width: 35%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
}

.second-hand{
    width: 50%;/*길이감 표현*/
    height: 3px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
}